.body {
    background-image: url("../images/crystalbackground.jpg");
}

.img {
border: 1px solid rgb(27, 82, 1); /* Gray border */
border-radius: 4px;  /* Rounded border */
padding: 2px; /* Some padding */
width: 100px;
height: 100px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
.img:hover {
box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}	

.dNumbers {
color: greenyellow;
font-size: 40px;
}